
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    @@media (min-width: 992px) {
        #mdThemMoi .modal-dialog {
            max-width: 800px;
        }
    }

    @@media (max-width: 993px) {
        #mdThemMoi .modal-dialog {
            width: 70% !important;
        }
    }

    .modal-footer {
        display: unset !important;
    }

    .frame-file {
        width: 65px;
        height: 65px;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        float: left;
        position: relative;
    }

    .frame-image {
        width: 60px;
        height: 60px;
        float: left;
        background-position: center;
        background-size: cover;
        border-radius: 4px;
        position: relative;
    }

    .frame-file .fa-arrow-down {
        position: absolute;
        top: -8px;
        right: 8px;
        font-size: 15px;
        color: #fff;
        background-color: #4CAF50;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: none;
        padding-top: 2px;
        text-align: center;
        z-index: 99;
    }

    .frame-file .fa-trash-o {
        position: absolute;
        top: -8px;
        right: -8px;
        font-size: 15px;
        color: #fff;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: none;
        padding-top: 2px;
        text-align: center;
        z-index: 99;
    }

    .frame-top {
        float: left;
        width: 100%;
        text-align: center;
    }

    .frame-file:hover > .fa-trash-o, .frame-file:hover > .fa-arrow-down {
        display: block;
    }

    .form-check.form-switch {
        margin: 0;
    }

    .btnXemThem {
        padding: 5px 8px;
        border-radius: 18px;
        color: var(--tblr-primary);
        font-weight: 500;
        font-size: 12px;
        text-decoration: underline;
    }
   
</style>
<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/adapters/jquery.js"></script>
<script src="~/ckfinder/ckfinder.js"></script>
<input type="hidden" id="GioiThieuID" />
<div class="row">
    <div class="col-md-4">
        <div class="input-icon mb-3">
            <input type="text" value="" class="form-control" placeholder="Nội dung tìm kiếm ..." id="timKiem" autocomplete="off">
            <span class="input-icon-addon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
            </span>
        </div>
    </div>
    <div class="col mb-2">
        <div class="text-end">
            <button type="button" class="btn btn-primary btn-nts-them" id="btnThemMoi"><i class="fa fa-plus"></i>&ensp;Thêm mới (F2)</button>
            <div class="btn-group" style="display:none">
                <div class="dropdown d-inline">
                    <button class="btn btn-primary dropdown-toggle-hide-arrow  height-button-icon  btn-nts-them" type="button" id="growthReportId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="blue fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-end w-auto">
                        <a class="dropdown-item textsize-item" href="javascript:void(0);" id="btnPrint"><i class="text-warning fa fa-print iconsize-item"></i>&ensp; In</a>
                        <a class="dropdown-item textsize-item" href="javascript:void(0);" id="btnExport"><i class="text-success fa fa-file-excel-o iconsize-item"></i>&ensp; Xuất Excel</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="space-4"></div>
<div class="row">
    <div class="col-md-12">
        <div id="GridGioiThieu"></div>
    </div>
</div>
<div id="mdThemMoi" class="modal modal-blur fade" tabindex="-1" aria-modal="true" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header nts-modal">
                <h5 id="lblTieuDeThemMoi" class="modal-title text-bold">Thêm mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> &times;</button>
            </div>
            <input type="hidden" id="hdfTaiLieuLuuGiuID_us" value="" />
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="NguoiTao">Người tạo</label>
                            <input type="text" class="form-control" id="NguoiTao" required maxlength="250">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="NgayTao">Ngày tạo</label>
                            <input class="form-control input-sm date-picker" id="NgayTao" type="text" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" required />
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist" style="display:flex">
                        <li class="nav-item" role="presentation">
                            <a href="#ToChuc" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab">Cơ cấu tổ chức</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#ChucNang" id="tabChucNang" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Chức năng nhiệm vụ</a>
                        </li>
                        <li class="nav-item" role="presentation" style="display:none">
                            <a href="#NhiemVu" id="tabNhiemVu" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Nhiệm vụ quyền hạn</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#QuyChe" id="tabQuyChe" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">Quy chế</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#ThongTinLienHe" id="tabThongTinLienHe" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab"> Thông tin liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="ToChuc" role="tabpanel">
                            <fieldset class="khungvien">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea rows="30" name="NoiDungToChuc" id="NoiDungToChuc"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="tab-pane fade" id="ChucNang" role="tabpanel">
                            <fieldset class="khungvien">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea rows="50" name="NoiDungChucNang" id="NoiDungChucNang"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="tab-pane fade" id="NhiemVu" role="tabpanel" style="display:none;">
                            <fieldset class="khungvien">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea rows="50" name="NoiDungNhiemVu" id="NoiDungNhiemVu"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="tab-pane fade" id="QuyChe" role="tabpanel">
                            <fieldset class="khungvien">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea rows="50" name="NoiDungQuyChe" id="NoiDungQuyChe"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="tab-pane fade" id="ThongTinLienHe" role="tabpanel">
                            <fieldset class="khungvien">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea rows="50" name="NoiDungThongTinLienHe" id="NoiDungThongTinLienHe"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="display: flex; align-items: center; justify-content: space-between">
                    <div class="col-md-6" style="text-align: left; align-items: center; display: flex; gap: 10px;">
                        <label style="margin-bottom: unset; display: flex; align-items: center; gap: 10px;" class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="TrangThai">
                            <label class="form-check-label" for="TrangThai">Ngưng sử dụng</label>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <div style="float:right;text-align: right">
                            <a href="#" id="btnLuuVaDong" class="btn btn-success ms-auto">
                                <i class="fa fa-save"></i>&ensp;Lưu và đóng (F9)
                            </a>
                            <a href="#" class="btn btn-outline-danger" data-bs-dismiss="modal">
                                <i class="fa fa-close"></i>&nbsp;Đóng (F4)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mdXemThem" class="modal modal-blur fade" tabindex="-1" aria-modal="true" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-top" role="document" style="max-width: 800px !important;">
        <div class="modal-content">
            <div class="modal-header nts-modal">
                <h5 id="tieuDeModalCT" class="modal-title text-bold">Thêm mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> &times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">

                        <div class="col-md-12">
                            <p id="NoiDungToChu_CT" class="MoTa_CT"></p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<script src="/Areas/CongThongTin/Scripts/GioiThieu.js?v=@DateTime.Now.Ticks.ToString()"></script>

