
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    @@media (min-width: 992px) {
        #mdThemMoi .modal-dialog {
            width: 50% !important;
        }
    }

    @@media (max-width: 993px) {
        #mdThemMoi .modal-dialog {
            width: 100% !important;
        }
    }

    .modal-footer {
        display: unset !important;
    }
</style>
<style>
    #mdXemThongTinHoSoViecLam .line-modal {
        padding-bottom: 2px;
    }

    .frame-file {
        width: 65px;
        height: 65px;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        float: left;
        position: relative;
    }

    .frame-image {
        width: 60px;
        height: 60px;
        float: left;
        background-position: center;
        background-size: cover;
        border-radius: 4px;
        position: relative;
    }

    .frame-file .fa-arrow-down {
        position: absolute;
        top: -8px;
        right: 8px;
        font-size: 15px;
        color: #fff;
        background-color: #4CAF50;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: none;
        padding-top: 2px;
        text-align: center;
        z-index: 99;
    }

    .frame-file .fa-trash-o {
        position: absolute;
        top: -8px;
        right: -8px;
        font-size: 15px;
        color: #fff;
        background-color: red;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: none;
        padding-top: 2px;
        text-align: center;
        z-index: 99;
    }

    .frame-top {
        float: left;
        width: 100%;
        text-align: center;
    }

    .frame-file:hover > .fa-trash-o, .frame-file:hover > .fa-arrow-down {
        display: block;
    }

    .TieuDeLabel {
        margin-top: 10px;
    }

        .TieuDeLabel span {
            font-weight: bold;
        }

    .text-info {
        color: var(--tblr-color-header) !important;
    }

    .text-line-modal:after {
        content: "";
        width: 100%;
        display: block;
        height: 1px;
        border-bottom: 1px solid var(--tblr-color-header);
    }

    .text-line-modal {
        display: flex;
        align-items: center;
    }

    .text-line {
        width: 175px;
        color: var(--tblr-color-header);
        font-weight: bold;
        font-size: 14px !important;
    }

    .line-modal {
        padding-bottom: 10px;
    }
</style>
<input type="hidden" id="NguoiTimViecID" />

<div class="row">
    <div class="col-md-4">
        <div class="input-icon mb-3">
            <input type="text" value="" class="form-control" placeholder="Nội dung tìm kiếm ..." id="timKiem" autocomplete="off">
            <span class="input-icon-addon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
            </span>
        </div>
    </div>
    <div class="col mb-2">
        <div class="text-end">
            @* <button type="button" class="btn btn-primary btn-nts-them" id="btnThemMoi"><i class="fa fa-plus"></i>&ensp;Thêm mới (F2)</button>*@
            <div class="btn-group" style="display:none">
                <div class="dropdown d-inline">
                    <button class="btn btn-primary dropdown-toggle-hide-arrow  height-button-icon" type="button" id="growthReportId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="blue fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-end w-auto">
                        <a class="dropdown-item textsize-item" href="javascript:void(0);" id="btnPrint"><i class="text-warning fa fa-print iconsize-item"></i>&ensp; In</a>
                        <a class="dropdown-item textsize-item" href="javascript:void(0);" id="btnExport"><i class="text-success fa fa-file-excel-o iconsize-item"></i>&ensp; Xuất Excel</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="space-4"></div>
<div class="row">
    <div class="col-md-12">
        <div id="Grid1"></div>
    </div>
</div>
<div id="mdTuChoi" class="modal modal-blur fade" tabindex="-1" aria-modal="true" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header nts-modal">
                <h5 id="lblTieuDeThemMoi" class="modal-title text-bold">Từ chối hồ sơ việc làm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> &times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label" for="NgayTuChoi">Ngày từ chối</label>
                            <input type="text" class="form-control date-picker" id="NgayTuChoi" autocomplete="off" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="NoiDungTuChoi">Nội dung từ chối</label>
                            <textarea class="form-control" id="NoiDungTuChoi" rows="4" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="display: flex; align-items: center; justify-content: space-between">
                    <div class="col-md-6" style="display: flex; align-items: center">
                        <label style="margin-bottom: unset" class="form-check form-switch">

                        </label>
                    </div>
                    <div class="col-md-6">
                        <div style="float:right;text-align: right">
                            <a href="#" id="btnLuuVaDong" class="btn btn-success ms-auto">
                                <i class="fa fa-save"></i>&ensp;Lưu và đóng (F9)
                            </a>
                            <a href="#" class="btn btn-outline-danger" data-bs-dismiss="modal">
                                <i class="fa fa-close"></i>&nbsp;Đóng (F4)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* Modal xem chi tiet ngành nghề kinh doanh *@
<div id="mdXemThem" class="modal modal-blur fade" tabindex="-1" aria-modal="true" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-top" role="document" style="max-width: 800px !important;">
        <div class="modal-content">
            <div class="modal-header nts-modal">
                <h5 id="tieuDeModalCT" class="modal-title text-bold"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> &times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">

                        <div class="col-md-12">
                            <p id="NoiDungGhiChu_CT" class="MoTa_CT"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@* Modal xem thông tin cung lao động *@
<div id="mdXemThongTinHoSoViecLam" class="modal modal-blur fade" tabindex="-1" aria-modal="true" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document" style="height: 100vh;margin: 0; max-width:100%;">
        <div class="modal-content" style="height: 100vh; border-radius: unset;">
            <div class="modal-header nts-modal" style="background: unset;color: #000;border-bottom: unset;">
                <h5 id="lblTieuDeThongTinHoSoViecLam" class="modal-title text-bold" style="font-weight:bold;"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: #000 !important;font-weight: bold;"> &times;</button>
            </div>
            <div class="modal-body" style="background: white;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-shadow-primary" style="padding: 10px; border-radius: 4px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="line-modal">
                                        <div class="text-line-modal"><div class="text-line" style=" width: 290px;">Thông tin hồ sơ việc làm</div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mb-1">
                                    <div class="form-group">
                                        <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                            Tên ứng viên:
                                            <span id="lblTenUngVien"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-1">
                                    <div class="form-group">
                                        <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                            Ngày sinh:
                                            <span id="lblNgaySinh"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 4px 0px; border-top: 1px solid #999;">
                            @*--------------------*@
                            <div class="row">
                                <div class="col-lg-6 mb-1">
                                    <div class="form-group">
                                        <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                            Giới tính:
                                            <span id="lblGioiTinh_us"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-1">
                                    <div class="form-group">
                                        <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                            Tình trạng hôn nhân:
                                            <span id="lblHonNhan_us"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 4px 0px; border-top: 1px solid #999;">

                            @*--------------------*@
                            <div class="row">
                                <div class="col-lg-6 mb-1">
                                    <div class="form-group">
                                        <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                            Số điện thoại:
                                            <span id="lblSoDienThoai_us"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-1">
                                    <div class="form-group">
                                        <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                            Email:
                                            <span id="lblEmail_us"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 4px 0px; border-top: 1px solid #999;">
                            @*--------------------*@
                            <div class="row">
                                <div class="col-lg-12 mb-1">
                                    <div class="form-group">
                                        <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                            Ngành nghề:
                                            <span id="lblNganhNghe_us"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 4px 0px; border-top: 1px solid #999;">
                            @*--------------------*@
                        <div class="row">
                            <div class="col-lg-6 mb-1">
                                <div class="form-group">
                                    <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                        Kinh nghiệm làm việc:
                                        <span id="lblKinhNghiem_us"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-1">
                                <div class="form-group">
                                    <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                        Cấp bậc:
                                        <span id="lblCapBac_us"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <hr style="margin: 4px 0px; border-top: 1px solid #999;">
                            @*--------------------*@
                        <div class="row">
                            <div class="col-lg-6 mb-1">
                                <div class="form-group">
                                    <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                        Hình thức làm việc:
                                        <span id="lblHinhThucLV_us"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-1">
                                <div class="form-group">
                                    <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                       Mức lương mong muốn:
                                        <span id="lblMuocLuc_us"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <hr style="margin: 4px 0px; border-top: 1px solid #999;">
                            @*--------------------*@
                            <div class="row">
                                <div class="col-lg-12 mb-1">
                                    <div class="form-group">
                                        <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                            Giới thiệu:
                                            <span id="lblGioiThieu_us"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 4px 0px; border-top: 1px solid #999;">
                            @*--------------------*@
                            <div class="row">
                                <div class="col-lg-12 mb-1">
                                    <div class="form-group">
                                        <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                            Mục tiêu công việc:
                                            <span id="lblMucTieuCV_us"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 4px 0px; border-top: 1px solid #999;">
                            @*--------------------*@
                            <div class="row">
                                <div class="col-lg-12 mb-1">
                                    <div class="form-group">
                                        <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                            Tỉnh/Thành Phố:
                                            <span id="lblTinh_us"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr style="margin: 4px 0px; border-top: 1px solid #999;">
                                @*--------------------*@
                                <div class="row">
                                    <div class="col-lg-12 mb-1">
                                        <div class="form-group">
                                            <div class="col-md-12 control-div no-padding-right TieuDeLabel ">
                                                Địa chỉ:
                                                <span id="lblDiaChi_us"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr style="margin: 4px 0px; border-top: 1px solid #999;">
                            </div>
                        </div>
                     </div>
                </div>

            </div>
            <div class="modal-footer" style="position: sticky; bottom: 0px; left: 0px; width: 100%">
                <div style="display: flex; align-items: center; justify-content: space-between">
                    <div class="col-md-6" style="display: flex; align-items: center">

                    </div>
                    <div class="col-md-6">
                        <div style="float:right;text-align: right">
                            <a href="#" class="btn btn-outline-danger" data-bs-dismiss="modal">
                                <i class="fa fa-close"></i>&nbsp;Đóng (F4)
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Areas/CongThongTinViecLam/Scripts/DanhSachHoSoViecLam.js"></script>


