
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media (min-width: 576px){
        .modal-dialog {
            max-width: none;
            margin-right: none;
            margin-left: none;
        }
    }

    .tabulator-row .tabulator-cell.tabulator-row-handle .tabulator-row-handle-box .tabulator-row-handle-bar {
        background-color: #0054a6;
        width: 100%;
        height: 5px;
        border-radius: 10px;
        margin-top: 2px;
    }

    /*    @@media (min-width: 992px) {
        #mdThemMoi .modal-dialog {
            width: 50% !important;
        }
    }

    @@media (max-width: 993px) {
        #mdThemMoi .modal-dialog {
            width: 100% !important;
        }
    }*/

    .modal-footer {
        display: unset !important;
    }
</style>
<div class="row">
    <div class="row flex-row-reverse">
        <div class="col mb-2">
            <div class="text-end">
                <button type="button" class="btn btn-primary" id="btnThemMoi"><i class="fa fa-plus"></i>&ensp;Thêm mới (F2)</button>
                @*<div class="btn-group">
                    <div class="dropdown d-inline">
                        <button style="height: 38px" class="btn btn-primary dropdown-toggle-hide-arrow" type="button" id="growthReportId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="blue fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg-end w-auto">
                            <a class="dropdown-item textsize-item" href="javascript:void(0);" id="btnPrint"><i class="text-warning fa fa-print iconsize-item"></i>&ensp; In</a>
                            <a class="dropdown-item textsize-item" href="javascript:void(0);" id="btnExport"><i class="text-success fa fa-file-excel-o iconsize-item"></i>&ensp; Xuất Excel</a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="col-sm-5 col-xs-12">
            <div class="input-icon mb-3">
                <div class="row" style="margin-top:4px">
                    <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
                        <label>Chức năng</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control input-sm" id="ComBoChucNang"></select>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-sm btn-primary" id="LocDuLieu"><i class="fa fa-filter"></i>&ensp;Lọc</button>
                    </div>
                </div>
                    @*<input type="text" value="" class="form-control" placeholder="Nội dung tìm kiếm ..." id="timKiem" autocomplete="off">
            <span class="input-icon-addon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
            </span>*@
                </div>
            </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div id="Grid1"></div>
    </div>
    <div id="mdThemMoi" class="modal" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-bold" id="tieuDeModal">Thêm mới thiết lập</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> &times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="ThietLapBangID" />
                    <div class="row" style="margin-top:4px">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="">Chức năng</label>
                                <select class="form-control" id="CBChucNang" tabindex="0" data-dropdown-parent="#mdThemMoi" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="TenVietTat">Mã lưới</label>
                                <input type="text" class="form-control" id="MaLuoi" required>
                            </div>
                        </div>
                    </div>



                    <div class="row" style="margin-top:4px">
                        <div id="Grid2"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div style="display: flex; align-items: center; justify-content: space-between">
                        <div class="col-md-6" style="display: flex; align-items: center">
                        </div>
                        <div class="col-md-6">
                            <div style="float:right;text-align: right">
                                <a href="#" class="btn btn-outline-danger" data-bs-dismiss="modal">
                                    <i class="fa fa-close"></i>&nbsp;Đóng (F4)
                                </a>
                                <a href="#" id="btnLuuVaDong" class="btn btn-success ms-auto">
                                    <i class="fa fa-save"></i>&ensp;Lưu và đóng (F9)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/HeThong/Scripts/ThietLapBang.js?v=@DateTime.Now.Ticks.ToString()" defer></script>