<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10.0.2/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@10.0.2/swiper-bundle.min.js"></script>
<style>
    /* temp wait cache */
    .box-imgcompany2 {
        height: 36px;
        width: auto;
        display: flex;
        margin: 10px 0 0;
        align-items: center;
    }

        .box-imgcompany2 .img-benefit {
            object-fit: contain;
            border: 1px solid #ededed;
            padding: 2px;
            height: 100% !important;
            width: 36px;
            height: 36px
        }

    .c-icon_vtln {
        width: 36px;
        height: 20px;
        display: inline-block;
    }

    .vieclamtainha-new .vieclamtainha_title {
        margin-right: 15px;
    }

    .vieclamtainha-new {
        margin-top: 15px;
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
        z-index: 10;
        margin-bottom: 10px;
    }

    .toppage-japan .vieclamtainha-new, .bigcategory .vieclamtainha-new {
        color: #fff;
        margin-bottom: 10px;
    }

    .vieclamtainha-new label {
        font-weight: 100;
        display: flex;
        margin: 0;
        align-items: center;
    }

        .vieclamtainha-new label input[type="radio"], .vieclamtainha-new label input[type="checkbox"] {
            margin: 0;
        }

    .select2-container .select2-selection--single, .select2-container .select2-selection--multiple, .select2-container--default, .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 35px !important;
    }

    div#box_search-tranhchu {
        position: absolute;
        z-index: 10;
        top: -41px;
    }

    #mdDanhSachNganhNghe {
        z-index: 999999 !important;
        /*padding-right: 13px !important;*/
    }

        #mdDanhSachNganhNghe .modal-dialog {
            /*z-index: 999999;*/
        }

    @@media (max-width: 991px) {
        .searchwrap {
            height: 255px !important;
            min-height: 250px !important;
        }
    }

    @@media only screen and (max-width: 480px) {
        #list-vieclam {
            padding: 0 10px;
        }

        .breadcrumb-container {
            margin-top: -25px;
        }

        div#box_search-tranhchu {
            position: absolute;
            z-index: 10;
            top: -80px !important;
        }

        .scrollmenu {
            border: 0px solid #eee;
            border-width: 0px 0px;
            overflow: auto;
            white-space: nowrap;
            max-width: 250px;
        }

            .scrollmenu .tag {
                margin: 0px !important;
                background-color: #e4e4e4 !important;
                border-radius: 5px;
            }

            .scrollmenu .new-tags a {
                background-color: #e4e4e4 !important;
            }

        .badge.badge-em.num--notify {
            background-color: #f07e1d !important;
            position: absolute;
            top: 10px;
            right: calc(100% - 35px);
        }

        .dropdown:hover .dropdown-content.dropdown-content-new.hovered-disable {
            display: none;
        }

        .vieclamtainha-new {
            font-size: 12px;
        }
        /* temp */
        .btn.filter-btn {
            margin-left: 10px;
            background-color: transparent;
            color: #fff;
            padding: 10px 0px;
        }

        .btn.filter-btn-1 {
            margin-left: 10px;
            background-color: transparent;
            color: #000;
            padding: 10px 0px;
        }

        .btn.filter-btn i {
            font-size: 18px;
            vertical-align: middle;
        }

        .btn.filter-btn span.sub-filter {
            vertical-align: sub;
        }
    }
    /* Viecoi.vn */
    .search-job .btn-homesearch {
        background: #f07e1d;
        color: #fff;
    }

        .search-job .btn-homesearch:hover {
            background-color: #ee6d00;
        }

    #NganhNghe_usBanner + .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 35px;
        padding-left: 25px;
    }

    .swiper-scrollbar-drag,
    .swiper-scrollbar-horizontal {
        display: none;
    }

    #search-main {
        box-shadow: 0px 1px 0.125rem rgba(0, 0, 0, 0.5);
        background: linear-gradient(185deg, rgba(208, 208, 208, 0.9) 0%, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
        max-width: 1280px;
        padding: 20px;
        border-radius: 8px;
    }

    .swiper-button-next, .swiper-button-prev {
        color: white;
    }

    .swiper-button-next, .swiper-button-prev {
        background-size: 0px 0px;
    }

        .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
            content: 'prev';
            font-size: 12px;
            font-weight: 500;
        }

        .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
            content: 'next';
            font-size: 12px;
            font-weight: 500;
        }

    .search-wrapper {
        position: relative;
    }

        .search-wrapper .search-icon {
            position: absolute;
            left: 4px; /* Adjust as needed */
            top: 50%;
            transform: translateY(-50%);
            color: gray;
            font-size: 16px;
        }

        .search-wrapper input {
            padding-left: 30px !important; /* Adjust based on the icon size */
        }


    .row div {
        box-sizing: border-box;
    }

    #list_nganhnghe-search {
        box-sizing: border-box;
    }

    .Name_nghenghiep-list {
        font-size: 12px;
        font-weight: 600;
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .Soluong_Vieclam-NgheNghiep {
        color: rgb(44 149 255);
        font-weight: 700;
        font-size: 15px;
    }

    .item-nghenghiep {
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 15px;
        min-width: 130px;
        max-width: 130px;
    }

        .item-nghenghiep:hover {
            border: 1px solid rgb(44 149 255);
            box-shadow: 0 1px 1.235rem rgba(0,0,0,0.3);
        }

    .item-nghenghiep-TatCa {
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 20px;
        min-width: 130px;
        max-width: 130px;
    }

        .item-nghenghiep-TatCa:hover {
            border: 1px solid rgb(44 149 255);
            box-shadow: 0 1px 1.235rem rgba(0,0,0,0.3);
        }

    .img_nganhnghe-list {
        max-width: 40px !important;
        height: 40px !important;
    }

    .swiper-button-prev, .swiper-button-next {
        width: 32px;
        height: 32px;
        background-color: rgba(29, 27, 33, .2);
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .swiper-button-prev {
        left: 130px;
    }

    .swiper-button-next {
        right: 130px;
    }

    #ViecLam_Loc_us {
        height: 34px;
    }

    #btn-search-submit {
        padding: 10px;
        width: 100%;
        height: 45px;
    }

    .hidden_mb {
        font-weight: 500;
    }

    .list-nghenghiep_icon {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .breadcrumb-container {
        margin-top: 175px;
    }

    #name_modal-body {
        padding: 35px 20px;
    }

    #header-modalListNgheNghiep {
        font-size: 14px;
        color: rgb(0 0 0);
        font-weight: bold;
        padding: 18px 0;
    }

    #btnDongModalDsNgheNghiep {
        border: none;
        display: flex;
        background: none;
        align-items: center;
        font-size: 20px;
        justify-content: center;
    }

    @@media screen and (min-width: 769px) {
        #mdDanhSachNganhNghe .modal-content {
            width: 100%
        }
    }

    .banner-slide {
        background: transparent;
        height: 230px;
    }

    @@media (min-width: 740px) and (max-width: 1023px) {
        .banner-slide {
            height: 200px;
        }

        .searchwrap {
            min-height: 100px;
        }

        .swiper-button-prev {
            width: 24px;
            height: 24px;
            left: 77px;
        }

        .swiper-button-next {
            width: 24px;
            height: 24px;
            right: 77px;
        }

        #DiaDiem_usBanner + .select2-container--default {
            margin-top: 0 !important;
        }

        #search-main {
            width: 600px;
        }

        #ViecLam_Loc_us {
            font-size: 10px;
        }

        .Name_nghenghiep-list {
            font-size: 6px;
        }

        .img_nganhnghe-list {
            max-width: 25px !important;
            height: 25px !important;
        }

        #search-main {
            padding-bottom: 0px;
        }

        #ViecLam_Loc_us {
            height: 30px;
        }

        .search-wrapper .search-icon {
            font-size: 12px;
        }

        .select2-container .select2-selection--single, .select2-container .select2-selection--multiple, .select2-container--default, .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 27px !important;
        }

        .hidden_mb {
            font-size: 10px;
            font-weight: 400;
        }

        #btn-search-submit {
            height: 30px;
        }

            #btn-search-submit .fa-search {
                font-size: 13px;
            }

        .btn-primary {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        .list-nghenghiep_icon {
            padding: 0px;
        }

        .item-nghenghiep {
            max-width: 60px;
            padding: 10px;
        }

        .item-nghenghiep-TatCa {
            padding: 10px;
            max-width: 60px;
        }

        .searchwrap {
            height: 150px !important;
            min-height: 150px !important;
        }

        .box_hd-NhaTuyendung {
            margin-top: 90px;
        }

        .breadcrumb-container {
            margin-top: 70px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            margin-left: -2px;
            margin-top: 0px;
        }

        .modal-content {
            margin-left: 0px;
            margin-right: 0px;
        }

        #name_modal-body {
            padding: 12px 20px;
        }

        .breadcrumb-tracuuvieclam-list {
            margin-left: 10px;
        }
    }

    @@media (min-width: 740px) and (max-width: 900px) {
        .banner-slide {
            height: 180px;
        }

        .breadcrumb-container {
            margin-top: 70px;
        }

        .btn-primary {
            min-width: 77px;
        }

        .box-tracuuvieclam {
            padding: 10px 20px;
        }

        .list-vieclam {
            padding: 0 10px;
        }
    }

    @@media (min-width: 901px) and (max-width: 1023px) {
        .banner-slide {
            height: 180px;
        }

        #ViecLam_Loc_us {
            font-size: 12px;
        }

        .Name_nghenghiep-list {
            font-size: 8px;
        }

        .img_nganhnghe-list {
            max-width: 30px !important;
            height: 30px !important;
        }

        #search-main {
            padding-bottom: 3px;
            width: 800px;
        }

        .searchwrap {
            min-height: 130px;
        }

        #DiaDiem_usBanner + .select2-container--default {
            margin-top: 0 !important;
        }

        .item-nghenghiep {
            max-width: 100px;
        }

        .clearfix {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .box-tracuuvieclam {
            padding: 10px 20px;
        }
    }

    @@media (max-width: 739px) {
        .banner-slide {
            width: 100%;
            /*height: 56px ;*/
        }

        .modal-card, .modal-content {
            max-height: none;
        }

        #mdDanhSachNganhNghe .modal-dialog {
            margin: 0px;
        }

        #ViecLam_Loc_us {
            font-size: 12px;
            height: 29px;
        }

        .list-nghenghiep_icon {
            display: none
        }

        .breadcrumb-container {
            margin-top: 0px;
        }

        .swiper-button-prev {
            left: 35px;
        }

        .swiper-button-next {
            right: 35px;
        }

        .swiper-button-prev, .swiper-button-next {
            width: 27px;
            height: 27px;
        }
    }

    @@media (max-width: 740px) {
        .item-nghenghiep:nth-child(n+4) {
            /*display: none;*/
        }

        .swiper-img {
            height: 200px !important;
        }

        .box_hd-NhaTuyendung {
            margin-top: 0px;
        }

        #search-main {
            padding: 10px !important;
        }

        div#box_search-tranhchu {
            position: absolute;
            z-index: 10;
            top: -90px;
            width: 95%;
        }

        .box_hd_nhaTuyenDungNoiBat {
            margin-top: 395px !important;
        }
    }

    .box_hd {
        float: left;
        width: 100%;
        padding: 0 55px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div#box_search-tranhchu {
        position: absolute;
        z-index: 10;
        /* top: 0; */
    }

    #banner {
        margin-top: 13px;
    }

    #ViecLam_Loc_us {
        border-radius: 6px !important;
    }

    .soluongcv-itemnghenghiep {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px !important;
    }

    .Soluong_Vieclam-NgheNghiep {
        color: rgb(44 149 255);
        font-weight: 800;
        font-size: 14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    .soluongcv-itemnghenghiep-viec {
        color: #a4a4a7;
        font-weight: bold;
    }

    .box_hd-NhaTuyendung {
        margin-top: 225px;
    }

    .Name_nghenghiep-list-all {
        font-size: 12px;
        margin-top: 24px !important;
    }

    .modal-dialog {
        margin: auto;
    }

    #mdDanhSachNganhNghe {
        margin-top: 54px;
    }

        #mdDanhSachNganhNghe .modal-content {
            /*overflow-y: hidden;*/
        }

    #mdDanhSachNganhNghe {
        overflow-y: hidden;
    }

    #name_modal-body {
        padding: 12px 20px;
    }

    #btnDongModalDsNgheNghiep > i {
        color: #b1b1b1;
    }

    #header-modalListNgheNghiep {
        font-size: 16px;
    }

    .list_10NgheNghiep-header > h3 {
        font-size: 15px;
        font-weight: 600;
    }

    .list_10NgheNghiep-header {
        padding: 15px 0;
    }
</style>
<style type="text/css">
    @@media (min-width: 992px) {
        #mdDanhSachNganhNghe .modal-dialog {
            width: 100% !important;
        }
    }

    @@media (max-width: 1147px) {
        .item-nghenghiep {
            padding: 5px;
        }
    }

    @@media (max-width: 993px) {
        #mdDanhSachNganhNghe .modal-dialog {
            width: 100% !important;
        }
    }

    .modal-footer {
        display: unset !important;
    }

    .no-padding-right {
        padding-right: 0px !important;
    }

    .mdNgheNghiep_header {
        display: flex;
        align-items: center;
    }

    .list_10NgheNghiep-container {
        padding: 14px;
        border: 1px solid #9bbfff;
        border-radius: 4px;
    }

    .list_10NgheNghiep-header {
        position: relative;
    }

        .list_10NgheNghiep-header::after {
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            height: 1px;
            background: var(--primary-color);
            bottom: -1.25px;
            max-width: 100%;
        }

    li.list_10NgheNghiep-container-item {
        padding: 20px 0;
        font-size: 14px;
    }

        li.list_10NgheNghiep-container-item > a {
            color: #000000;
        }

    .list_10nghenghiep {
        background: #f2f9fd;
    }

    li.list_10NgheNghiep-container-item > a:hover {
        color: var(--primary-color);
    }

    .container-mdNgheNghiep {
        margin-bottom: 20px;
    }
    /*.item_nganhnghe-All {
        padding: 10px 20px;
    }*/
    .item_nganhnghe-All-link {
        font-size: 14px;
        color: rgb(0 0 0);
    }

        .item_nganhnghe-All-link:hover {
            color: var(--primary-color);
        }

    .item_nganhnghe-All-row {
        padding: 25px 0 0 26px;
    }

    .box-chuainput-nghenghiep {
        background: #fff;
        margin-left: 4px;
        border-radius: 7px;
        padding: 4px 8px 4px 0px;
        border: 1px solid #d5d4d4;
        margin-right: -4px;
    }

    #ViecLam_Loc_us {
        border: none !important;
        font-size: 13px;
        border-right: 1px solid #d5d4d4 !important;
        border-radius: 0px !important;
    }

    #NganhNghe_usBanner .select2-selection.select2-selection--single {
        border: none !important;
        box-shadow: none !important;
    }

    #NganhNghe_usBanner {
        border: none !important;
        height: 34px;
    }

    #DiaDiem_usBanner + .select2-container--default .select2-selection--single {
        height: 45px !important;
        line-height: 45px !important;
    }

    #DiaDiem_usBanner + .select2-container--default .select2-selection--multiple {
        min-height: 45px !important;
    }

    #DiaDiem_usBanner + .select2-container--default .select2-selection__rendered {
        line-height: 45px !important;
    }

    #DiaDiem_usBanner + .select2-container--default .select2-dropdown {
        max-height: 200px !important;
        overflow-y: auto !important;
    }

    #DiaDiem_usBanner + .select2-container--default .select2-selection--single {
        border-radius: 7px !important;
        padding: 0 5px 0 20px;
    }

    .selDiaDiemTimKiem {
        position: relative;
    }

    .icon_map-timkiem {
        position: absolute;
        top: 12px;
        left: 18px;
    }

    #NganhNghe_usBanner + .select2-container--default .select2-selection {
        border: none !important;
        padding-left: 16px;
    }

    .selNganhNghe_usBanner {
        position: relative;
    }

    .icon_map-timkiem-NganhNghe_usBanner {
        position: absolute;
        top: 6px;
        left: 4px;
    }

    .search-icon-select {
        position: absolute;
        left: 15px;
        z-index: 9;
        color: #808080;
        font-size: 16px;
        top: 50%;
        transform: translateY(-50%);
    }

    .selDiaDiemTimKiem .search-icon-select {
        position: absolute;
        left: 19px;
        z-index: 9;
        color: #808080;
        font-size: 16px;
        top: 67%;
        transform: translateY(-50%);
    }

    @@media (min-width: 1024px) {
        .list-nghenghiep_icon {
            display: grid;
            grid-template-columns: repeat(9, minmax(0, 1fr)) !important;
        }

        .box_hd_nhaTuyenDungNoiBat {
            margin-top: 250px !important;
        }
    }

    .box_hd_nhaTuyenDungNoiBat {
        margin-top: 345px;
    }

    .list-nghenghiep_icon {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .swiper {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .swiper-slide {
        width: auto;
        flex-shrink: 0;
    }
</style>

<div id="banner">
    <div class="searchwrap home banner-slide" style="">
        <div class="swiper swiper-img " style="width:100%;height:100%;position:relative;">
            <div class="swiper-wrapper" style="width:100%;height:100%;" id="banner_swiper">
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>

<div class="box_hd" style="position:relative;">
    <div class="row" style="" id="box_search-tranhchu">
        <div class="col-md-12" id="search-main">
            <div id="box_search">
                <div class="row">
                    <div class="col-xs-12 col-md-7 col-sm-12 col-input-timkiem">
                        <div class="row box-chuainput-nghenghiep" style="">
                            <div class="col-md-7 col-xs-12 col-sm-12">
                                <div class="search-wrapper" style="width: 100%;">
                                    <i class="fa-solid fa-briefcase search-icon" aria-hidden="true"></i>
                                    <input type="text" id="ViecLam_Loc_us" class="form-control" placeholder="Tiêu đề công việc, vị trí..." />
                                </div>
                            </div>
                            <div class="col-md-5 col-xs-5 col-sm-5 selNganhNghe_usBanner" style="padding:0;">
                                <select class="form-control input-sm" id="NganhNghe_usBanner"></select>
                                <i class="fa-solid fa-graduation-cap search-icon-select"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-3 col-md-3 selDiaDiemTimKiem">
                        <select class="form-control input-sm" id="DiaDiem_usBanner"></select>
                        <i class="fa-solid fa-location-dot search-icon-select"></i>
                    </div>
                    <div class="col-btn-search col-xs-2 col-md-2 col-sm-2">
                        <button id="btn-search-submit" type="button" class="btn btn-primary" style="">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span class="hidden_mb" style="">Tìm việc</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 14px;">
                <div class="col-md-12">
                    <div class="list-nghenghiep_icon" style="">
                        <a class="text-center item-nghenghiep" style="" data-value="G" data-aos="zoom-in">
                            <div>
                                @*<i class="fa-solid fa-id-card-clip" style="font-size: 35px; color: #42afb1;"></i>*@
                                <img src="~/Images/logoNganhNghe/cart.png" style="" class="img_nganhnghe-list" />
                                <div class="soluongcv-itemnghenghiep" style="">
                                    <span class="Soluong_Vieclam-NgheNghiep" id="Soluong_Vieclam-NgheNghiep-buonban" style=""></span>&ensp;
                                    <span class="soluongcv-itemnghenghiep-viec" style="">việc</span>
                                </div>
                                <p class="Name_nghenghiep-list" style=" ">
                                    Bán buôn và bán lẻ; sửa chữa ô tô, mô tô, xe máy và xe có động cơ khác
                                </p>
                            </div>
                        </a>
                        <a class="text-center item-nghenghiep" style="" data-value="I" data-aos="zoom-in">
                            <div>
                                @*<i class="fa-solid fa-id-card-clip" style="font-size: 35px; color: #42afb1;"></i>*@
                                <img src="~/Images/logoNganhNghe/money.png" class="img_nganhnghe-list" />
                                <div class="soluongcv-itemnghenghiep" style="">
                                    <span class="Soluong_Vieclam-NgheNghiep" id="Soluong_Vieclam-NgheNghiep-dichvu"></span>&ensp;
                                    <span class="soluongcv-itemnghenghiep-viec">việc</span>
                                </div>
                                <p class="Name_nghenghiep-list" style=" ">
                                    Dịch vụ lưu trú và ăn uống
                                </p>
                            </div>
                        </a>
                        <a class="text-center item-nghenghiep" style="" data-value="J" data-aos="zoom-in">
                            <div>
                                @*<i class="fa-solid fa-id-card-clip" style="font-size: 35px; color: #42afb1;"></i>*@
                                <img src="~/Images/logoNganhNghe/loa.png" class="img_nganhnghe-list" />
                                <div class="soluongcv-itemnghenghiep" style="">
                                    <span class="Soluong_Vieclam-NgheNghiep" id="Soluong_Vieclam-NgheNghiep-TruyenThong"></span>&ensp;
                                    <span class="soluongcv-itemnghenghiep-viec">việc</span>
                                </div>
                                <p class="Name_nghenghiep-list" style=" ">
                                    Thông tin và truyền thông
                                </p>
                            </div>
                        </a>
                        <a class="text-center item-nghenghiep" style="" data-value="F" data-aos="zoom-in">
                            <div>
                                @*<i class="fa-solid fa-id-card-clip" style="font-size: 35px; color: #42afb1;"></i>*@
                                <img src="~/Images/logoNganhNghe/banhrang.png" class="img_nganhnghe-list" />
                                <div class="soluongcv-itemnghenghiep" style="">
                                    <span class="Soluong_Vieclam-NgheNghiep" id="Soluong_Vieclam-NgheNghiep-XayDung"></span>&ensp;
                                    <span class="soluongcv-itemnghenghiep-viec">việc</span>
                                </div>
                                <p class="Name_nghenghiep-list" style=" ">
                                    Xây dựng
                                </p>
                            </div>
                        </a>
                        <a class="text-center item-nghenghiep" style="" data-value="A" data-aos="zoom-in">
                            <div>
                                @*<i class="fa-solid fa-id-card-clip" style="font-size: 35px; color: #42afb1;"></i>*@
                                <img src="~/Images/logoNganhNghe/maytinh.png" class="img_nganhnghe-list" />
                                <div class="soluongcv-itemnghenghiep" style="">
                                    <span class="Soluong_Vieclam-NgheNghiep" id="Soluong_Vieclam-NgheNghiep-NongLam"></span>&ensp;
                                    <span class="soluongcv-itemnghenghiep-viec">việc</span>
                                </div>
                                <p class="Name_nghenghiep-list" style=" ">
                                    Nông nghiệp, lâm nghiệp và thuỷ sản
                                </p>
                            </div>
                        </a>
                        <a class="text-center item-nghenghiep" style="" data-value="C" data-aos="zoom-in">
                            <div>
                                @*<i class="fa-solid fa-id-card-clip" style="font-size: 35px; color: #42afb1;"></i>*@
                                <img src="~/Images/logoNganhNghe/kinhloop.png" class="img_nganhnghe-list" />
                                <div class="soluongcv-itemnghenghiep" style="">
                                    <span class="Soluong_Vieclam-NgheNghiep" id="Soluong_Vieclam-NgheNghiep-CongNghiep"></span>&ensp;
                                    <span class="soluongcv-itemnghenghiep-viec">việc</span>
                                </div>
                                <p class="Name_nghenghiep-list" style=" ">
                                    Công nghiệp chế biến, chế tạo
                                </p>
                            </div>
                        </a>
                        <a class="text-center item-nghenghiep" style="" data-value="P" data-aos="zoom-in">
                            <div>
                                @*<i class="fa-solid fa-id-card-clip" style="font-size: 35px; color: #42afb1;"></i>*@
                                <img src="~/Images/logoNganhNghe/student.png" class="img_nganhnghe-list" />
                                <div class="soluongcv-itemnghenghiep" style="">
                                    <span class="Soluong_Vieclam-NgheNghiep" id="Soluong_Vieclam-NgheNghiep-GiaoDuc"></span>&ensp;
                                    <span class="soluongcv-itemnghenghiep-viec">việc</span>
                                </div>
                                <p class="Name_nghenghiep-list" style=" ">
                                    Giáo dục và đào tạo
                                </p>
                            </div>
                        </a>
                        <a class="text-center item-nghenghiep" style="" data-value="S" data-aos="zoom-in">
                            <div>
                                @*<i class="fa-solid fa-id-card-clip" style="font-size: 35px; color: #42afb1;"></i>*@
                                <img src="~/Images/logoNganhNghe/document.png" class="img_nganhnghe-list" />
                                <div class="soluongcv-itemnghenghiep" style="">
                                    <span class="Soluong_Vieclam-NgheNghiep" id="Soluong_Vieclam-NgheNghiep-HDDichVu"></span>&ensp;
                                    <span class="soluongcv-itemnghenghiep-viec">việc</span>
                                </div>
                                <p class="Name_nghenghiep-list" style=" ">
                                    Hoạt động dịch vụ khác
                                </p>
                            </div>
                        </a>
                        <a class="text-center item-nghenghiep-TatCa" style="" data-aos="zoom-in">
                            <div>
                                <img src="~/Images/logoNganhNghe/menu.png" class="img_nganhnghe-list" />
                                <p class="Name_nghenghiep-list Name_nghenghiep-list-all" style=" ">
                                    Tất cả các ngành
                                </p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="mdDanhSachNganhNghe" class="modal modal-blur fade" tabindex="-1" aria-modal="true" role="dialog" data-bs-backdrop="static" style="z-index: 1002; ">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style="" id="name_modal-body">
                <section class="container container-mdNgheNghiep">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xl-3">
                            <div class="mdNgheNghiep_header">
                                <button type="button" id="btnDongModalDsNgheNghiep" style="" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fa-solid fa-xmark" style="color:#000000"></i>
                                </button>
                                <h5 style="" id="header-modalListNgheNghiep">Danh sách tất cả nghề nghiệp</h5>
                            </div>
                            <div class="list_10nghenghiep">
                                <ul class="list_10NgheNghiep-container">
                                    <div class="list_10NgheNghiep-header list_10NgheNghiep-header-right">
                                        <h3>Top 10 nghề nghiệp</h3>
                                    </div>
                                    <div class="list_10NgheNghiep-content">
                                        @*<li class="list_10NgheNghiep-container-item">
                                                <a href="#" class="list_10NgheNghiep-container-item-link"> Bán lẻ</a>
                                            </li>*@
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xl-9">
                            <div class="mdNgheNghiep_header">
                                <button type="button" id="btnDongModalDsNgheNghiep" style="color:transparent;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <i class="fa-solid fa-xmark" style="color: transparent"></i>
                                </button>
                                <h5 style="color:transparent;" id="header-modalListNgheNghiep">Danh sách tất cả nghề nghiệp</h5>
                            </div>
                            <div class="list_10nghenghiep" style="background:transparent;">
                                <ul class="list_10NgheNghiep-container" style="border: 1px solid transparent; padding-bottom:0px;">
                                    <div class="list_10NgheNghiep-header">
                                        <h3>Ngành khác</h3>
                                    </div>
                                </ul>
                                <div class="row item_nganhnghe-All">
                                    @*<div class="col-md-4 item_nganhnghe-All-row">
                                            <a style="" class="item_nganhnghe-All-link">
                                                Bán buôn và bán lẻ; sửa chữa ô tô, mô tô, xe máy và xe có động cơ khác
                                            </a>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/CongThongTinViecLam/BannerCongThongTin.js?v=@DateTime.Now.Ticks.ToString()"></script>
<script>
    $(function () {
        loadSliderCarousel3D();

        // jQuery hover effect
        $('.swiper-button-prev, .swiper-button-next').hover(
            function () { // When mouse enters
                $(this).css({
                    'background-color': 'rgba(29, 27, 33, .8)',
                    'color': 'white'
                });
            },
            function () { // When mouse leaves
                $(this).css({
                    'background-color': 'rgba(29, 27, 33, .2)', // Reset to original color
                    'color': 'white'
                });
            }
        );
    });

    function LoadBanner() {
        var result = NTS.getAjax("/CongThongTinViecLam/TrangChuCTT/GetBenner_CTT", {});
        if (result.length > 0) {
            let item = ``;
            for (var i = 0; i < result.length; i++) {
                let data = result[i];
                // Tách các đường dẫn ảnh từ chuỗi HinhAnh bằng dấu '*'
                let imgArray = data.HinhAnh.split('*').filter(img => img.trim() !== '');

                // Lặp qua từng đường dẫn ảnh và tạo element ảnh
                for (let img of imgArray) {
                    if (img == '' || img == undefined || img == null) {
                        img = '/Images/news-defaut.jpg';
                    }

                    // Thêm ảnh vào item
                    item += `<img src="${img}" class="swiper-slide banner_slie-img" style="mix-blend-mode: darken; max-width: 100%; padding: 0;">`
                }
            }
            $('#banner_swiper').append(item);
        } else {
            $('#banner_swiper').append(textKhongCoDuLieu);
        }
    }


    //function loadSliderCarousel3D() {
    //    const swiper = new Swiper('.swiper', {
    //        direction: 'horizontal',
    //        loop: true,
    //        speed: 1000, // Tốc độ chuyển tiếp

    //        // Pagination
    //        pagination: {
    //            el: '.swiper-pagination',
    //            clickable: true,
    //        },

    //        // Navigation
    //        navigation: {
    //            nextEl: '.swiper-button-next',
    //            prevEl: '.swiper-button-prev',
    //        },

    //        // Scrollbar
    //        scrollbar: {
    //            el: '.swiper-scrollbar',
    //        },

    //        // Autoplay settings
    //        autoplay: {
    //            delay: 4000,
    //            disableOnInteraction: false,
    //        },

    //        // Hiệu ứng chuyển tiếp
    //        effect: 'coverflow',

    //        // Thực hiện kiểm tra nếu cần
    //        simulateTouch: true,
    //        watchSlidesProgress: true,
    //        spaceBetween: 10,
    //    });

    //    LoadBanner();
    //}
    //function loadSliderCarousel3D() {
    //    const swiper = new Swiper('.swiper', {
    //        direction: 'horizontal',
    //        loop: true,
    //        speed: 1000, // Tốc độ chuyển tiếp

    //        // Pagination
    //        pagination: {
    //            el: '.swiper-pagination',
    //            clickable: true,
    //        },

    //        // Navigation
    //        navigation: {
    //            nextEl: '.swiper-button-next',
    //            prevEl: '.swiper-button-prev',
    //        },

    //        // Scrollbar
    //        scrollbar: {
    //            el: '.swiper-scrollbar',
    //        },

    //        // Autoplay settings
    //        autoplay: {
    //            delay: 4000,
    //            disableOnInteraction: false,
    //        },

    //        // Hiệu ứng chuyển tiếp
    //        effect: 'coverflow',
    //        centeredSlides: true,
    //        coverflowEffect: {
    //            rotate: 0,
    //            modifier: 1.5,
    //            slideShadows: false,
    //        },
    //    });

    //    LoadBanner();
    //}
    //function loadSliderCarousel3D() {
    //    const swiper = new Swiper('.swiper', {
    //        direction: 'horizontal', // Hướng trượt ngang
    //        loop: true,
    //        speed: 1500, // Tăng tốc độ chuyển tiếp để mượt mà hơn

    //        // Pagination
    //        pagination: {
    //            el: '.swiper-pagination',
    //            clickable: true,
    //        },

    //        // Navigation
    //        navigation: {
    //            nextEl: '.swiper-button-next',
    //            prevEl: '.swiper-button-prev',
    //        },

    //        // Autoplay settings
    //        autoplay: {
    //            delay: 4000, // Giảm delay để làm cho carousel trông sống động hơn
    //            disableOnInteraction: false,
    //        },

    //        // Hiệu ứng chuyển tiếp
    //        effect: 'coverflow',
    //        coverflowEffect: {
    //            rotate: 0, // Giữ nguyên không xoay slide
    //            modifier: 1.5, // Hệ số điều chỉnh hiệu ứng coverflow
    //            slideShadows: false, // Không cần bóng đổ cho slide
    //        },

    //        // Thực hiện kiểm tra nếu cần
    //        simulateTouch: true,
    //        watchSlidesProgress: true,
    //        slidesPerView: 1, // Hiển thị 1 slide cùng lúc
    //        spaceBetween: 0, // Khoảng cách giữa các slide
    //    });

    //    // Gọi hàm LoadBanner nếu cần
    //    LoadBanner();
    //}
    function loadSliderCarousel3D() {
        // Tạo một đối tượng Swiper mới để tạo slider 3D
        const swiper = new Swiper('.swiper', {
            // Đặt hướng trượt là ngang
            direction: 'horizontal',
            // Cho phép lặp lại các slide (slide cuối cùng chuyển tiếp đến slide đầu tiên)
            loop: true,
            // Đặt tốc độ chuyển tiếp giữa các slide (1000ms)
            speed: 1000,
            // Cho phép hiển thị tự động số lượng slide dựa trên kích thước của chúng
            slidesPerView: 'auto',
            // Khoảng cách giữa các slide là 30px
            spaceBetween: 0,
            // Cho phép người dùng điều hướng bằng cách chạm (cảm ứng)
            simulateTouch: true, // Hoặc false nếu không muốn hỗ trợ chạm

            // Cấu hình phân trang
            pagination: {
                el: '.swiper-pagination', // Chỉ định phần tử chứa phân trang
                clickable: true, // Cho phép người dùng nhấp vào phân trang để điều hướng slide
            },

            // Cấu hình nút điều hướng
            navigation: {
                nextEl: '.swiper-button-next', // Chỉ định nút "Tiếp theo"
                prevEl: '.swiper-button-prev', // Chỉ định nút "Trước đó"
            },

            // Cấu hình tự động chạy
            autoplay: {
                delay: 4000, // Thời gian giữa các slide (4000ms = 4 giây)
                disableOnInteraction: false, // Không dừng tự động chạy khi người dùng tương tác
            },

            // Hiệu ứng chuyển tiếp
            effect: 'coverflow', // Sử dụng hiệu ứng coverflow
            coverflowEffect: {
                rotate: 0, // Giữ nguyên không xoay slide
                modifier: 1.5, // Hệ số điều chỉnh hiệu ứng coverflow
                slideShadows: false, // Không cần bóng đổ cho slide
            },
        });

        // Gọi hàm LoadBanner nếu cần thiết
        LoadBanner();
    }


</script>
